<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schemes List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f7f9;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            color: #34495e;
            margin-top: 20px;
            font-size: 2em;
            font-weight: 600;
        }

        /* Table Styling */
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px 0;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }

        /* Header Styling */
        th {
            background-color: #34495e;
            color: #fff;
            padding: 15px;
            font-weight: bold;
            text-align: left;
        }

        /* Row Styling */
        tr:nth-child(even) {
            background-color: #f4f7f9;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }

        td, th {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            transition: background-color 0.2s ease-in;
        }

        /* Hover Effect */
        tr:hover {
            background-color: #e2ebf5;
        }

        /* Additional Styling */
        table, th, td {
            border: none;
        }

    </style>
</head>

<body>
    <h1>Schemes</h1>
    <table border="1">
        <tr>
            <th>Scheme ID</th>
            <th>Scheme Name</th>
            <th>Rate of Interest</th>
            <th>Duration in Years</th>
        </tr>
        <% data.forEach(function(schemes) { %>
            <tr>
                <td><%= schemes.Scheme_ID %></td>
                <td><%= schemes.Scheme_Name %></td>
                <td><%= schemes.Interest_Rate %></td>
                <td><%= schemes.Duration_In_Years %></td>
            </tr>
        <% }) %>
    </table>
    <label for="Scheme_ID" >Scheme ID:</label>
    <input type="text" id="Scheme_ID" name="Scheme_ID">

    <label for="Amount" id="amt">Investment Amount</label>
    <input type="text" id="Amount" name="Amount">

    <label for="Int_Amount">Interest Amount</label>
    <input type="text" id="Int_Amount" name="Int_Amount">

    <label for="Total_Amount"> Total Amount</label>
    <input type="text" id="Total_Amount" name="Total_Amount">

    <button type="button" onclick="calculate_int()">Submit</button>
    <script>
        function calculate_int(){
            let scheme_id=document.getElementById("Scheme_ID").value
            console.log(scheme_id)
            let amount=document.getElementById("Amount").value
            console.log(amount)
        }
        

    </script>
</body>
</html>